Kusto Agro/infratec-Koziyatin.json
[{"id":"eba66637.9e2b48","type":"tab","label":"Infratek"},{"id":"b5ab11e.d31cef","type":"tcp in","z":"eba66637.9e2b48","name":"","server":"server","host":"","port":"4003","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":60,"wires":[["7a06c70b.5f93c8"]]},{"id":"381c2b38.9ef554","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":530,"y":60,"wires":[]},{"id":"7a06c70b.5f93c8","type":"function","z":"eba66637.9e2b48","name":"","func":"flow.set('lastAnalys',msg.payload);\nflow.set('barcode',\"\")\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["cecf782e.2573e8","8d1f6079.f0fe8"]]},{"id":"704908f5.8f7e28","type":"http in","z":"eba66637.9e2b48","name":"","url":"/getQuality","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["35ece155.49966e"]]},{"id":"727a08a.58ecef8","type":"http response","z":"eba66637.9e2b48","name":"","x":630,"y":120,"wires":[]},{"id":"35ece155.49966e","type":"function","z":"eba66637.9e2b48","name":"","func":"var load = flow.get('load');\nif (load){\n    msg.payload = flow.get('parseQA');    \n}else{\n    msg.payload = {};\n}\nmsg.payload.barcode = flow.get('barcode');\nflow.set(\"load\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["727a08a.58ecef8","a2c9fff6.a2c26"]]},{"id":"cecf782e.2573e8","type":"function","z":"eba66637.9e2b48","name":"","func":"var result = {\n    localdate:new Date()\n};\n\nvar sdata = msg.payload;\nvar arr_sdata = sdata.split('\\n');\n\nresult.length = arr_sdata.length;\n\n//Ambient Temperature\nvar ambietTemperature = arr_sdata[7];\nvar arr_ambietTemperature = ambietTemperature.split(\":\");\nresult.ambietTemperature = arr_ambietTemperature[1];\n\n//Analysis Counter\nvar analysisCounter = arr_sdata[8];\nvar arr_analysisCounter = analysisCounter.split(\":\");\nresult.analysisCounter = arr_analysisCounter[1];\n\n//Sub sample\nvar subSample = arr_sdata[11];\nvar arr_subSample = subSample.split(\":\");\nvar arr_subSample_1 = arr_subSample[0].split(\"     \");\n\nresult.subsample = {\n   id : arr_subSample[0].replace(\"NrOFSubSamples\",\"\"),\n   NrOFSubSamples : arr_subSample[1]\n}\n\n//Sample hash\nvar sampleHash = arr_sdata[13];\nresult.sampleHash = sampleHash;\n\n//read quailities \nvar startQ  = 14;\nvar qLength = 7;\nvar endStr  = \"#\";\n\nvar qualities = [];\n\nfor( var i = startQ; i <= arr_sdata.length-qLength; ){\n    \n    var q = {\n        id:arr_sdata[i],\n        value:arr_sdata[i+1].split(String.fromCharCode(20)),\n        minmax:arr_sdata[i+4].split(String.fromCharCode(20))\n    }\n    qualities.push(q);   \n    i = i+qLength;\n    \n}\n\nresult.qualities = qualities;\nresult.datahash  = Buffer.from(msg.payload).toString('base64');\n// msg.payload = arr_sdata;\nmsg.payload = result;\nflow.set('parseQA',result);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["381c2b38.9ef554"]]},{"id":"8d1f6079.f0fe8","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":410,"y":20,"wires":[]},{"id":"906c5bb3.8a91d8","type":"serial in","z":"eba66637.9e2b48","name":"","serial":"2b9fb67b.fe5d5a","x":110,"y":200,"wires":[["941c9e11.1b9a4"]]},{"id":"8e8452a8.22115","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":450,"y":200,"wires":[]},{"id":"bd590e4c.09e88","type":"inject","z":"eba66637.9e2b48","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":280,"wires":[["25f0caf5.e6adb6"]]},{"id":"25f0caf5.e6adb6","type":"function","z":"eba66637.9e2b48","name":"","func":"flow.set('load',true);\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[[]]},{"id":"941c9e11.1b9a4","type":"function","z":"eba66637.9e2b48","name":"","func":"flow.set(\"barcode\",msg.payload.replace(\"\\r\",\"\"));\nflow.set('load',true);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["8e8452a8.22115"]]},{"id":"a2c9fff6.a2c26","type":"debug","z":"eba66637.9e2b48","name":"","active":false,"console":"false","complete":"false","x":660,"y":160,"wires":[]},{"id":"2b9fb67b.fe5d5a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":false}]
